{{#each board as |row|}}
  <div class='row'>
    {{#each row as |cell|}}
      <div class='cell {{if cell.alive 'alive'}}'></div>
    {{/each}}
  </div>
{{/each}}

<button {{action 'step'}} data-role='step-action'>Step</button>

<button {{action 'togglePlay'}} data-role='play-action'>
  {{#if playing}}
    pause
  {{else}}
    play
  {{/if}}
</button>
